input {
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font: var(--Body-Xs);
    color: var(--danger);
    margin-top: 0.5rem;
  }
  &:invalid {
    border: 1px solid var(--danger);
  }

  &:valid + .error {
    display: none;
  }
}
