.palette {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 20px;
}
.color-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 62.43rem;
  cursor: pointer;
  border: 0.4rem solid #2d3136;
  transition: transform 0.2s;
}
.color-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 2px var(--brand-light);
}
#selected-color {
  margin-top: 20px;
  font-size: 18px;
}

fieldset p {
  font: var(--Body-Sm);
  color: var(--text-body);
  margin-top: 1.5rem;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h2 {
  text-align: left;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 1rem;
}

.item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  width: 8.3rem;
  height: 6.43rem;
  background-color: var(--shape-button);
  border: 1px solid var(--input-stroke);
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 7.87rem;
  height: 4rem;
  object-fit: cover;
  filter: brightness(0.7);
  margin: 0.25rem;
}

.item span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font: var(--Body-Sm);
  color: var(--text-heading);
}

/* Estilo para item selecionado */
.selected {
  border: 2px solid #4a90e2;
}
